{# src/Commande/confirmation.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

    <section class="height-70 page-title">

        <div class="container pos-vertical-center">

            <div class="row">

                <div class="col-sm-12 text-center">

                    <h2>Bien joué !</h2>

                    <h3>La commande a bien été enregistrée.</h3>

                    <h4>Ton brunch va arriver le {{ date|infrench }} {% if heure == "now" %}le plus vite possible{% else %}entre {{ heure }}{% endif %} :)</h4>

                </div>

            </div>

        </div>

    </section>

    <section id="suggestions" class="bg--primary space--sm cta cta-5">

        <div class="container">

            <div class="row">

                <div class="col-xs-12 text-center">

                    <p class="h4">Tu peux suivre en direct l'état de ta commande</p>

                    <a class="btn btn--sm" href="{{ path('compte') }}">

					<span class="btn__text">

					   Accéder à mon compte

					</span>

                    </a>

                </div>

            </div>

        </div>

    </section>

    <section>

        <div class="container">

            <div class="row">

                <div class="col-sm-4 text-center">

                    <div class="feature boxed feature-1">

                        <i class="icon icon-Like"></i>

                        <h5>Tout est bon ?</h5>

                        <p>Super, mission accomplie. Plus qu'à attendre avec patience...</p>

                        <hr />

                        <a class="btn btn--sm btn--primary" href="{{ path('compte') }}">

							<span class="btn__text">

							   Accéder à mon compte

							</span>

                        </a>

                    </div>

                </div>

                <div class="col-sm-4 text-center">

                    <div class="feature boxed feature-1">

                        <i class="icon icon-Receipt-3"></i>

                        <h5>Des questions ?</h5>

                        <p>Dans le doute, on t'a concocté une FAQ aux petits oignons</p>

                        <hr />

                        <a class="btn btn--sm btn--primary" href="{{ path('faq') }}">

							<span class="btn__text">

							   Voir la FAQ

							</span>

                        </a>

                    </div>

                </div>

                <div class="col-sm-4 text-center">

                    <div class="feature boxed feature-1">

                        <i class="icon icon-Mail"></i>

                        <h5>Pour un champion ?</h5>

                        <p>Même la meilleure FAQ ne répondra pas à tes questions existentielles :)</p>

                        <hr />

                        <a class="btn btn--sm btn--primary" href="{{ path('contact') }}">

							<span class="btn__text">

							   Nous contacter

							</span>

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </section>

{% endblock %}