{# src/Commande/coordonnees.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

<section class="height-50 page-title">

    <div class="container pos-vertical-center">

        <div class="row">

            <div class="col-sm-12 text-center">

                <h2>Livraison</h2>

                <h5 style="font-weight:500;">Les infos pour le livreur !</h5>

            </div>

        </div>

    </div>

</section>

<section class="elements-forms">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-md-offset-3">

                <div class="form-subscribe-1">

                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">

                        {{ form_start(form, {'attr': {'id': 'subForm', 'data-error': 'Pour le livreur, veillez à remplir tous les champs :)', 'data-success': 'Merci !'}}) }}

                        {{ form_errors(form) }}

                        <span>{{ form_errors(form.nom) }}</span>
                        <div class="input-with-icon">
                            {{ form_errors(form.nom) }}
                            {{ form_label(form.nom, "Nom et prénom") }}
                            <i class="icon icon-Male-2"></i>
                            {{ form_widget(form.nom) }}
                        </div>

                        <span>{{ form_errors(form.adresse) }}</span>
                        <div class="input-with-icon">
                            {{ form_label(form.adresse, "Adresse (N° et rue)") }}
                            <i class="icon icon-Map-Marker2"></i>
                            {{ form_widget(form.adresse) }}


                        <span>{{ form_errors(form.precisions) }}</span>
                        <div class="input-with-icon">
                            {{ form_label(form.precisions, "Précisions (code porte, étage...)") }}
                            <i class="icon icon-Direction-East"></i>
                            {{ form_widget(form.precisions) }}
                        </div>

                        <span>{{ form_errors(form.cp) }}</span>
                        <div class="input-with-icon">
                            {{ form_label(form.cp, "Code postal") }}
                            <span class="cpform"></span>
                            {{ form_widget(form.cp, {'attr': {'class': 'arrondissement', 'style':'background-color:white'}}) }}
                        </div>

                        <span>{{ form_errors(form.telephone) }}</span>
                        <div class="input-with-icon">
                            {{ form_label(form.telephone, "Téléphone") }}
                            <i class="icon icon-Telephone"></i>
                            {{ form_widget(form.telephone) }}
                        </div>

                        {{ form_widget(form.valider, {'attr': {'class': 'col-xs-12 btn btn--primary', 'style':'font-weight:bold'}}) }}

                        {{ form_rest(form) }}

                        {{ form_end(form) }}

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div><br /><p class="bouton-retour"><a href="{{ path('email') }}">&laquo;  Modifier l'adresse e-mail</a></p></div>

</section>

{% endblock %}