{# src/Commande/email.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

<section class="height-50 page-title">

    <div class="container pos-vertical-center">

        <div class="row">

            <div class="col-sm-12 text-center">

                <h2>Livraison</h2>

                <h5 style="font-weight:500;">Une adresse mail pour suivre la commande</h5>

            </div>

        </div>

    </div>

</section>

<section class="elements-forms">

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center">

                <div class="form-subscribe-1 ">

                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">

                        {{ form_start(form, {'attr': {'class': 'form--merge'}}) }}

                        {{ form_errors(form.email) }}

                        {{ form_widget(form.email, {'attr': {'class': 'col-sm-8', 'placeholder':'adresse@email.com'}}) }}

                        {{ form_widget(form.valider, {'attr': {'class': 'col-sm-4 btn btn--primary', 'style':'font-weight:bold'}}) }}

                        {{ form_rest(form) }}

                        {{ form_end(form) }}

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div>

        <br /><p class="bouton-retour"><a href="{{ path('commande') }}">&laquo;  Retour au panier</a></p>

    </div>

</section>

{% endblock %}